# ========================
# Python
# ========================
__pycache__/
*.py[cod]

# ========================
# Ambiente virtual
# ========================
.venv/
venv/
env/

# ========================
# Flask
# ========================
instance/
.webassets-cache/

# ========================
# Variáveis de ambiente
# ========================
.env
.env.*

# ========================
# SQLAlchemy / Banco de dados
# ========================
*.sqlite
*.sqlite3
*.db

# ========================
# Alembic / Flask-Migrate
# ========================
migrations/versions/*.pyc

# ========================
# Logs
# ========================
*.log

# ========================
# Testes / Coverage
# ========================
.pytest_cache/
.coverage
htmlcov/

# ========================
# Build / Distribuição
# ========================
build/
dist/
*.egg-info/

# ========================
# IDEs
# ========================
.vscode/
.idea/

# ========================
# Sistema operacional
# ========================
.DS_Store
Thumbs.db
